// colors
$blue-400: #18a0fb;
$blue-300: #edf7ff;
$white-300: #edf7ff;
$white-400: #ffffff;
$white-500: #f9f9f9;
$black: #202244;
$grey: #979797;

//fonts
$ff--main: 'Poppins', 'Arial', sans-serif;
$fw--reg: 400;
$fw--med: 500;

// breakpoints
$mobile-last: 980px;
$desktop: 981px;

// times
$time: 0.3s;
